@import "tailwindcss";

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-unbounded), sans-serif;
}